#data-privacy {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: black;
  width: calc(100% - 80px);
  z-index: 99;
  padding: 20px 40px;
}
#data-privacy p {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0px 0px 10px 0px;
  float: left;
}

#choice {
  float: right;
}

button {
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

button.ok {
  background: white;
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  border: 1px solid white;
}

button.more-info {
  background: transparent;
  color: white;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid white;
  padding: 4px 0px;
  font-size: 14px;
}

button.ok:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

button.more-info:hover {
  border-color: black;
}

footer {
  z-index: inherit !important;
}
